/* font import  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,400;1,700;1,800&display=swap');
html,body{
    font-size: font-family: 'Poppins', sans-serif;
}
.container{
    width: 90%;
    margin: 0 auto;
}
/* css start  */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
h1{
    font-size: 2.5rem;
}

/* banner section  */
.banner-section{
    display: flex;
    flex-direction: row;
    flex-basis: 1;
}
